

.topbar-flex-container {
    gap: 1rem;
    justify-content: space-between;
    align-items: center; 
    display: flex;

}


.topbar-button {

    display: flex;
    border-radius: 1rem;
    border: none;
    align-items: center;
    font-family: serif;


}

.topbar-button:hover {
    background-color: azure;
    border-radius: 1rem;
    
       
}


